<div class="actividades"> 

  <div class="cursos">
    <mat-accordion> 
    <mat-expansion-panel (click)="expandRectangle('deberes')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">Deberes</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <button mat-list>
          <mat-list-item *ngFor="let activity of activities.deberes" (click)="mostrarFormulario(activity)">
            {{ activity.name }}
          </mat-list-item>
        </button>
      </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel (click)="expandRectangle('actividades')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">Actividades en Clases</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <button mat-list>
          <mat-list-item *ngFor="let activity of activities.actividadesClases" (click)="mostrarFormulario(activity)">
            {{ activity.name }}
          </mat-list-item>
        </button>
      </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel (click)="expandRectangle('examenes')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">Exámenes</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <button mat-list>
          <mat-list-item *ngFor="let activity of activities.examenes" (click)="mostrarFormulario(activity)">
            {{ activity.name }}
          </mat-list-item>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
    
    <form class="formulario" [formGroup]="form" (ngSubmit)="saveFile()"> 
    <div *ngIf="mostrarForm">
    
        <div class="form-group">
          <label for="nombreActividad">Nombre de la Actividad:</label>
          <input type="text" id="nombreActividad" formControlName="name" />
        </div>
    
        <div class="form-group">
          <label for="descripcionActividad">Descripción:</label>
          <textarea id="descripcionActividad" formControlName="description"></textarea>
        </div>
    
        <div class="form-group">
          <label for="tipoActividad">Tipo de Actividad:</label>
          <input type="text" id="tipoActividad" formControlName="type" />
        </div>
    
        <div class="form-group">
          <label for="fechaLimite">Fecha Límite:</label>
          <input type="date" id="fechaLimite" formControlName="date" />
        </div>
 

        <label id="custom-file" class="custom-file-upload">
          <input type="file" name="archivo" accept=".pdf" style="display: none;" (change)="updateFileName($event)">
          <span id="select-file-text" [style.display]="file ? 'none' : 'inline-block'">Seleccionar archivo</span>
          <span id="file-name" [style.display]="file ? 'inline-block' : 'none'">{{ file }}</span>
        </label>
    
        <div class="form-group">
          <button type="submit">GUARDAR</button>
        </div>
    
    </div>
    </form>
    </div>
 