<div class="actividades"> 

  <div class="cursos">
    <div class="rectangle" id="deberes" (click)="expandRectangle('deberes')">
      <div class="title">Deberes</div>
      <div class="content">
        <li *ngFor="let activity of activities.deberes" (click)="mostrarFormulario(activity)">{{ activity.name }}</li>
      </div>
    </div>
  
    <div class="rectangle" id="actividades" (click)="expandRectangle('actividades')">
      <div class="title">Actividades en Clases</div>
      <div class="content" *ngFor="let activity of activities.actividadesClases" (click)="mostrarFormulario(activity)">{{ activity.name }}</div>
    </div>
  
    <div class="rectangle" id="examenes" (click)="expandRectangle('examenes')">
      <div class="title">Exámenes</div>
      <div class="content" *ngFor="let activity of activities.examenes" (click)="mostrarFormulario(activity)">{{ activity.name }}</div>
    </div>
  </div>
    
    <form class="formulario" [formGroup]="form" (ngSubmit)="ocultarFormulario()"> 
    <div *ngIf="mostrarForm">
    
        <div class="form-group">
          <label for="nombreActividad">Nombre de la Actividad:</label>
          <input type="text" id="nombreActividad" formControlName="name" />
        </div>
    
        <div class="form-group">
          <label for="descripcionActividad">Descripción:</label>
          <textarea id="descripcionActividad" formControlName="description"></textarea>
        </div>
    
        <div class="form-group">
          <label for="tipoActividad">Tipo de Actividad:</label>
          <input type="text" id="tipoActividad" formControlName="type" />
        </div>
    
        <div class="form-group">
          <label for="fechaLimite">Fecha Límite:</label>
          <input type="date" id="fechaLimite" formControlName="date" />
        </div>
 

        <label id="custom-file" class="custom-file-upload">
          <input type="file" name="archivo" accept=".pdf" style="display: none;" (change)="updateFileName($event)">
          <span id="select-file-text" [style.display]="file ? 'none' : 'inline-block'">Seleccionar archivo</span>
          <span id="file-name" [style.display]="file ? 'inline-block' : 'none'">{{ file }}</span>
        </label>
    
        <div class="form-group">
          <button type="submit">GUARDAR</button>
        </div>
    
    </div>
    </form>
    </div>
 