 

<div class="challenges">
  <div *ngIf="retosCargados" class="challenge-module">
 
    <h1>Desafíos para Estudiantes</h1>
   
    <div class="challenge-list">
  
      <div [ngStyle]="{ 'background-color': isReto1 === 'true' ? '#d4edda' : isReto1 === 'false' ? '#f8d7da' : 'initial' }" class="challenge-item"> 
        <img src="../../../assets/challenges/ciencias.png" alt="Imagen 1">
        <h2>Desafío de Ciencias:</h2>  
        <p>{{ reto1 }}</p>  
        <div class="file-upload-section">
          <label for="pdfInput" class="hidden-label">Selecciona un archivo PDF</label>
          <input type="file" id="pdfInput" (change)="onFileSelected($event, 'challenge1',reto1)" accept=".pdf" class="hidden-input" [disabled]="isReto1 !== null">
          <button>Subir PDF</button>
        </div>
      </div>
    
      <div [ngStyle]="{ 'background-color': isReto2 === 'true' ? '#d4edda' : isReto2 === 'false' ? '#f8d7da' : 'initial' }" class="challenge-item">
        <img src="../../../assets/challenges/matematicas.png" alt="Imagen 2">
        <h2>Desafío de Matematicas:</h2>   
      <p>{{ reto2 }}</p>
      <div class="file-upload-section">
        <label for="pdfInput" class="hidden-label">Selecciona un archivo PDF</label>
        <input type="file" id="pdfInput" (change)="onFileSelected($event, 'challenge2',reto2)" accept=".pdf" class="hidden-input" [disabled]="isReto2 !== null">
        <button>Subir PDF</button>
      </div>
    </div>
    <div [ngStyle]="{ 'background-color': isReto3 === 'true' ? '#d4edda' : isReto3 === 'false' ? '#f8d7da' : 'initial' }" class="challenge-item">
        <img src="../../../assets/challenges/historia.png" alt="Imagen 3"> 
        <h2>Desafío de Historia:</h2> 
       
        <p>{{ reto3 }}</p>
        <div class="file-upload-section">
          <label for="pdfInput" class="hidden-label">Selecciona un archivo PDF</label>
          <input type="file" id="pdfInput" (change)="onFileSelected($event, 'challenge3',reto3)" accept=".pdf" class="hidden-input" [disabled]="isReto3 !== null">
          <button>Subir PDF</button>
        </div>
    </div>
    <div [ngStyle]="{ 'background-color': isReto4 === 'true' ? '#d4edda' : isReto4=== 'false' ? '#f8d7da' : 'initial' }" class="challenge-item">
        <img src="../../../assets/challenges/informatica.png" alt="Imagen 4"> 
        <h2>Desafío de Informatica:</h2> 
      
        <p>{{ reto4 }}</p>
        <div class="file-upload-section">
          <label for="pdfInput" class="hidden-label">Selecciona un archivo PDF</label>
          <input type="file" id="pdfInput" (change)="onFileSelected($event, 'challenge4',reto4)" accept=".pdf" class="hidden-input" [disabled]="isReto4 !== null">
          <button>Subir PDF</button>
        </div>
    </div>
   
  </div>
   
</div>