<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>AdminHub</title>
  </head>
  <body>
    <!-- CONTENT -->
    <section id="content">
      <!-- MAIN -->
      <main>
        <h2>DATOS DEL PROFESOR:</h2>

        <div class="head-title">
          <div class="left">
            <div class="user">
              <div class="user-detail">
                <label class="label">Nombre de Usuario:</label>
                <input class="form-control" />
              </div>
              <div class="user-detail">
                <label class="label">Contraseña:</label>
                <input class="form-control" />
              </div> 
            </div>

            <div class="person">
              <form [formGroup]="form" (ngSubmit)="onAcceptClick()" class="form-person">
                <input type="hidden" formControlName="id_person" />
                <div class="user-detail">
                  <div class="form-group">
                    <label class="label">Nombre:</label>
                    <input
                      class="form-control"
                      formControlName="name" 
                    />
                  </div>
                  <div class="form-group">
                    <label class="label">Apellido:</label>
                    <input
                      class="form-control"
                      formControlName="last_name" 
                    />
                  </div>
                  <div class="form-group">
                    <label class="label">Edad:</label>
                    <input
                      class="form-control"
                      formControlName="age" 
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="right">
            <div class="user-detail">
              <label class="label">TITULO ACADEMICO:</label>
              <input class="form-control" />
            </div>

            <div class="user-detail">
              <label class="label">ESPECIALIDAD:</label>
              <input class="form-control" />
            </div>

            <div class="user-detail">
              <label class="label">EXPERIENCIA:</label>
              <input class="form-control" />
            </div>
          </div>

          <div class="right">
          <button class="add-button">AGREGAR</button>
          <button class="delete-button">ELIMINAR</button>
        </div>

        </div>

        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Cursos Creados Recientes</h3>
              <i class="bx bx-search"></i>
              <i class="bx bx-filter"></i>
            </div>
            <table>
              <thead>
                <tr>
                  <th>DOCENTE</th>
                  <th>EDAD</th>
                  <th>TITULO</th>
                  <th>ESPECIALIDAD</th>
                  <th>EXPERIENCIA</th> 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of pers; let i = index">
                  <td>{{ p.name + ' ' + p.last_name }}</td>
                  <td>{{ p.age }}</td>
                  <td>{{ teach[i]?.academic_degree }}</td>
                  <td>{{ teach[i]?.specialization }}</td>
                  <td>{{ teach[i]?.work_experience }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
  </body>
</html>
