<div  *ngIf="!loginInfo.isLogin" class="wrapper fadeInDown">
  <div id="formContent"> 
      <h2 *ngIf="!loginInfo.isRegistro" class="active"> INGRESO </h2>
      <h2 *ngIf="loginInfo.isRegistro" class="inactive underlineHover">REGISTRO </h2>
  
      <div class="fadeIn first">
        <img *ngIf="loginInfo.userType  === '' || loginInfo.userType  === 'estudiante'" src="../assets/login/estudiante.png" id="icon" alt="User Icon" />
        <img *ngIf="loginInfo.userType  === 'profesor'" src="../assets/login/profe.png" id="icon" alt="User Icon" />
      </div>
  
      <form *ngIf="!loginInfo.isRegistro"  [formGroup]="appComponentInfo.form"  (ngSubmit)="enviarDatos()"> 
        <div class="select-wrapper">
          <select (change)="updateImage()" class="fadeIn second" name="userType" id="tipous">
              <option value="" disabled selected hidden>Tipo de usuario</option>
            <option value="estudiante">Estudiante</option>
            <option value="profesor">Profesor</option>
          </select>
        </div>
        <input type="text" formControlName="user_name" (change)="updateUserName()" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario">
        <input type="password" formControlName="password" (change)="updatePassword()" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="INGRESAR" [disabled]="loginInfo.userType  === '' || loginInfo.usName === '' || loginInfo.passw === '' ">
       
      </form>
  
      <form *ngIf="loginInfo.isRegistro"  [formGroup]="appComponentInfo.form_reg"  (ngSubmit)="crearUs()"> 
        <input type="text" formControlName="user_name_reg" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario">
        <input type="text" formControlName="password_reg" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="text" formControlName="name_reg" id="nombre" class="fadeIn second" name="nombre" placeholder="Nombre">
        <input type="text" formControlName="last_name_reg" id="apellido" class="fadeIn third" name="apellido" placeholder="Apellido">
        <input type="text" formControlName="age_reg" id="edad" class="fadeIn third" name="edad" placeholder="Edad"> 
        <div class="select-wrapper">
          <select  formControlName="userType_reg" (change)="updateImage()" class="fadeIn second" name="userType"  id="tipous">
           <option value="" disabled selected hidden>Tipo de usuario</option>
            <option value="estudiante">Estudiante</option>
            <option value="profesor">Profesor</option>
          </select>
        </div>
        <input type="submit" class="fadeIn fourth" value="REGISTRAR">
      </form>
  
      <div id="formFooter">
        <a (click)="toggleRegistro()" class="underlineHover" href="javascript:void(0)">
          {{ loginInfo.isRegistro ? '¿Ya tienes una cuenta? Ingresa aquí' : '¿No tienes una cuenta? Regístrate aquí' }}
        </a>
      </div>
  
    </div>
</div> 



<app-custom-alert></app-custom-alert>  

 

<div  *ngIf="loginInfo.isLogin && loginInfo.userType === 'profesor'" class="main-menu" [class.open]="loginInfo.openMenu" (click)="handleDrawerClose()">
  <h1 >SAIL</h1>
  <nav class="nav flex-column" style="color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);font-style: italic; font-family: 'Times New Roman', Times, serif;">
    <div class="menu-item">
      <img src="../assets/menu/home.png"  style="width: 40px; height: 40px; margin-top: 0%;"  alt="Home">
      <a class="nav-link" routerLink="home"> 
        HOME</a> 
    </div>

    <div class="menu-item">
      <img src="../assets/menu/perfil.png"  style="width: 40px; height: 40px; margin-top: 0%;"  alt="Home">
      <a class="nav-link" routerLink="perfilestudiante/profile">PERFIL</a>
    </div>

    <div class="menu-item">
      <img src="../assets/menu/cursos.png"  style="width: 40px; height: 40px; margin-top: 0%;"  alt="Home">
      <a class="nav-link" routerLink="perfilestudiante/cursos">CURSOS</a>
    </div> 
    <div class="menu-item">
      <img src="../assets/menu/salir.png"  style="width: 40px; height: 40px; margin-top: 0%;"  alt="Home">
      <a class="nav-link" (click)="salir()" routerLink="salir" id="salir">SALIR</a>
    </div> 
 
  </nav>
</div> 


<section id="sidebar">
<div  *ngIf="loginInfo.isLogin && loginInfo.userType === 'estudiante'" class="main-menu"  [class.open]="loginInfo.openMenu" (click)="handleDrawerClose()">
  <app-perfilestudiante></app-perfilestudiante>
  </div> 
</section>

  <section id="content">
<div class="panel" *ngIf="loginInfo.isLogin">
  <router-outlet></router-outlet>  
</div>
  
 </section>