 
  <nav class="nav justify-content-center|justify-content-end" 
  style="color: rgb(136, 37, 136); background-color: rgb(34, 34, 80); font-style: italic;font-family: 'Times New Roman', Times, serif;">
      <a class="nav-link" routerLink="home">HOME</a> 
      <a class="nav-link" routerLink="login">LOGIN</a> 
      <a class="nav-link" routerLink="profile">PERFIL</a>
      <a class="nav-link" routerLink="cursos">CURSOS</a> 
      <a class="nav-link" routerLink="retos">RETOS</a> 
  </nav>
   <router-outlet></router-outlet>  