<div class="wrapper fadeInDown">
    <div id="formContent"> 
        <h2 *ngIf="!isRegistro" class="active"> INGRESO </h2>
        <h2 *ngIf="isRegistro" class="inactive underlineHover">REGISTRO </h2>
    
        <div class="fadeIn first">
          <img *ngIf="userType === '' || userType === 'estudiante'" src="../../../assets/login/estudiante.png" id="icon" alt="User Icon" />
          <img *ngIf="userType === 'profesor'" src="../../../assets/login/profe.png" id="icon" alt="User Icon" />
        </div>
    
        <form *ngIf="!isRegistro"> 
          <div class="select-wrapper">
            <select [(ngModel)]="userType" (change)="updateImage()" class="fadeIn second" name="userType">
                <option value="" disabled selected hidden>Tipo de usuario</option>
              <option value="estudiante">Estudiante</option>
              <option value="profesor">Profesor</option>
            </select>
          </div>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
          <input type="submit" class="fadeIn fourth" value="INGRESAR">
        </form>
    
        <form *ngIf="isRegistro"> 
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
          <input type="text" id="nombre" class="fadeIn second" name="nombre" placeholder="Nombre">
          <input type="text" id="apellido" class="fadeIn third" name="apellido" placeholder="Apellido">
          <input type="text" id="edad" class="fadeIn third" name="edad" placeholder="Edad"> 
          <div class="select-wrapper">
            <select [(ngModel)]="userType" (change)="updateImage()" class="fadeIn second" name="userType">
             <option value="" disabled selected hidden>Tipo de usuario</option>
              <option value="estudiante">Estudiante</option>
              <option value="profesor">Profesor</option>
            </select>
          </div>
          <input type="submit" class="fadeIn fourth" value="REGISTRAR">
        </form>
    
        <div id="formFooter">
          <a (click)="toggleRegistro()" class="underlineHover" href="javascript:void(0)">
            {{ isRegistro ? '¿Ya tienes una cuenta? Ingresa aquí' : '¿No tienes una cuenta? Regístrate aquí' }}
          </a>
        </div>
    
      </div>
  </div>