<div class="cursos">
    <div class="rectangle" id="deberes" (click)="expandRectangle('deberes')">
        <div class="title">Deberes</div>
        <div class="content">Contenido de deberes...</div>
      </div>
      
      <div class="rectangle" id="actividades" (click)="expandRectangle('actividades')">
        <div class="title">Actividades en Clases</div>
        <div class="content">Contenido de actividades en clases...</div>
      </div>
      
      <div class="rectangle" id="examenes" (click)="expandRectangle('examenes')">
        <div class="title">Exámenes</div>
        <div class="content">Contenido de exámenes...</div>
      </div>
  </div>