.profile-info {
    display: flex;  
    max-width: 100%;
    height: 80%;
    margin: 20px auto;
    margin-left: 2%;
    margin-top: 1%;
    padding: 20px;
    background-color: #eef2f6; 
}
 

#perfil{
  margin-left: 10%;
}

.user-details { 
  flex: 9; /* 90% del ancho */
  flex-direction: column;
  margin-left: 10%;   
  padding-top: 2%;
  font-size: 1.5rem;  
  font-weight: bold; 
  border-radius: 8px; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.user-details div {
    margin-bottom: 10px;
}
 

.user-details,
.user-notes {
    flex: 1;  
    height: 90%;
}
 
.user-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  border-top: 1px solid #ccc;
  background-color: #eef2f6; 
  padding-top: 20px;
}

.grafic {
  flex: 1;  
  width: 10%;  
  background-color: #eef2f6;
  margin-left: 10px;  
}

.image-row {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  width: 100%;
  margin-bottom: 10px;  
}

.image-container {
  border-radius: 10px;  
  margin-bottom: 10%;
  margin-top: 15%;
  background-color: #fff;
  overflow: hidden;  
  width: 80%;
}

.user-notes img {
  width: 100%;  
  height: auto;
  border-radius: 10px;  
}

#title{
  margin-top: 2%;
  margin-left: 2%;
  padding-top: 2%;
}

.user-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
  }
 


  .message-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 3%; 
  }
  
  .user-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .user-detail-container {
    display: flex;
    justify-content: space-between;
    margin-right: 40%;
    width: 100%;
  }
  
  #usuario
  {
     margin-left: 20%;
  }


  #persona
  {
     margin-left: 20%;
  }


  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
 
  
  label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  label#data {
    font-weight: normal;
  }

 
#data
{
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: lighter;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 10px;

    align-items: start;
}
label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  label#data {
    font-weight: normal;  
  }

input {
    padding: 10px;
    width: 100%;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;  
}

button {
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;  
}

button:hover {
    background-color: #45a049;
}
 

.additional-images {
    display: flex;
    justify-content: center;  
    margin-top: 10px;  
}

.additional-images img {
    width: 20%;  
    height: 15%;  
    margin-right: 20px;  
} 

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  margin-top: 10px;  
}

.accept-button,
.delete-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;  
  transition: background-color 0.3s ease;
}

.accept-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #FF6347;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #D32F2F;
}

@media screen and (min-width: 768px) {
  .profile-info {
      flex-direction: row;
  }
  
  .user-details {
      margin-left: 10%;
  }
}