.profile-info {
    display: flex;
    align-items: center;
    max-width: 80%;
    height: 80%;
    margin: 20px auto;
    margin-top: 5%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 30%; 
    min-width: 150px;  
    height: auto;  
    overflow: hidden; 
 
}

.profile-picture img {
    width: 80%;
    height: 80%;
    object-fit: cover;  
}

#perfil{
  margin-left: 10%;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 10%;  
    width: 70%; 
    font-size: 1.5rem;
    font-weight: bold; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details div {
    margin-bottom: 10px;
}
.user-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
  }
 


  .message-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 3%;
  }
  
  .user-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .user-detail-container {
    display: flex;
    justify-content: space-between;
    margin-right: 40%;
    width: 100%;
  }
  
  #usuario
  {
     margin-left: 20%;
  }


  #persona
  {
     margin-left: 20%;
  }


  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
 
  
  label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  label#data {
    font-weight: normal;
  }

 
#data
{
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: lighter;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 10px;

    align-items: start;
}
label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  label#data {
    font-weight: normal;  
  }

input {
    padding: 10px;
    width: 100%;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;  
}

button {
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;  
}

button:hover {
    background-color: #45a049;
}
 

.additional-images {
    display: flex;
    justify-content: center;  
    margin-top: 10px;  
}

.additional-images img {
    width: 20%;  
    height: 15%;  
    margin-right: 20px;  
} 


@media screen and (max-width: 768px) {
  .profile-info {
    flex-direction: column;
  }

  .user-column {
    margin-right: 0;  
  }
 
}